body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.container{
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
}
.container img{
    width: 70%;
}
h1{
    font-size: 60px;
}
.color{
    color: orange;
}
.link{
    background-image: linear-gradient(orange,tomato);
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 30px;
    color: white;
}
a{
    display: inline-block;
    margin-top: 20px;
   
}
.middle-bar{
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    
}
.container p{
    width: 500px;
}
.recipes{
   margin-left: 25%;
   margin-right: 25%;
   text-align: center;
    
}

.bottom-bar{
    width: 58%;
   

}

footer{
    text-align: center;
    background-color: black;
    height: 200px;
}
.gray{
    color: dimgrey;
}
#image{
    box-shadow: 10px 10px 30px;
    border-radius: 10px;
    text-align: center;
}
h3,p{
    text-align: left;
    margin-left: 5px;
}
